html, body
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #AAA;
    background-color: #333;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Times New Roman', Times, serif;
}
a:link{ color: #f44; }
a:hover, a:focus{ color: #f11; }
/*a:active{}
img, video, iframe {}*/

/* navigation */
#navtop nav
{
    position: fixed; top: 0; left: 0; right: 0;z-index:99;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

}
#navtop a
{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    font-size: 20px;
}
#navtop a:hover, #navtop a:focus
{
    text-decoration: none;
    color: #922;
    border-color: #922;
    border-width: 2px;
    border-style: outset;
    border-radius: 10px;
    
}
@media screen and (max-width:800px) 
{
	#navtop nav { position:static; flex-flow:column nowrap; }
}

/*tete*/
#tete
{
    margin-top: 62px;
    position: relative;
    background-image: url(../../image/fontTitre.png);
    max-width: 100%;
    background-size: 100%;
    height: 50vh;
    background-position: center center;
}
#tete div
{
    background-color: #4449;
    color:red;
    position: absolute;
    margin: 5px;
    padding: 1em;
    border: solid;
    border-color: black;
    border-radius: 10px;
}
#tete h1
{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#tete p
{
    font-size:20px;
}
@media screen and (max-width:800px) {
	#tete { margin:0; height: 35vh; }
	#tete div { padding:1.5em;}
    #tete h1 { font-size:25px; }

}
/*corp*/
#corp
{
    width: 50%;
    margin: auto;
    text-align: justify;
}
#corp h3
{
    font-size: 30px;
}
#corp img
{
    width: 200px;
    float: left;
}
#corp a #maquette
{
    float: none;
    width: 80%;
}
#nav 
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 25%;
}
@media screen and (max-width:1000px)
{
    #corp,#nav{margin-left: 0;}
    #nav img{width: 80%;}   
}
@media screen and (max-width:1400px) {
    #nav{margin-left: 0;}
}
#pied
{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
#pied div
{
    display: flex;
    flex-direction: column;
}
#pied .ligne
{
    display: inline-flex;
}

#pied p,#pied a
{
    margin: 5px;
}
#pied div div img
{
    width: 20px;
}
#pied a
{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
#pied a:hover, #pied a:focus
{
    text-decoration: none;
    color:white;
    border-color: white;
}

@media screen and (max-width:800px){
    #pied{flex-direction: column;}
    #corp img{float: none;}
    #corp{width: 80%;}
}



