<footer id="pied">
    <div>
      <h4>Me contacter :</h4>
      <p>Nom : Marchand Valentin</p>
      <p>telephone : 0495 92 46 20</p>
      <a href="mailto:marchandvalentin.7@outlook.fr">marchandvalentin.7@outlook.fr</a>
      <a href="Contact.php">Information</a>
    </div>
    <div>
      <h4>Liens utile :</h4>
      <div class="ligne">
        <a href="https://www.facebook.com/valentin.marchand.12327"><img src="../icone/facebook.png" alt="">Facebook</a>
      </div>
      <div class="ligne">
          <a href="https://www.Youtube.com"><img src="../icone/youtube1png.png" alt="">Youtube</a>
      </div>
    </div>
    <div>
      <h4>Sources :</h4>
      <div>
        <a href="https://www.culture-informatique.net/comment-ca-marche-un-ordinateur/">https://www.culture-informatique.net</a>
        <a href="https://fr.m.wikipedia.org/wiki/Carte_graphique">https://fr.m.wikipedia.org/carte_graphique</a>
        <a href="https://fr.wikipedia.org/wiki/M%C3%A9moire_vive">https://fr.wikipedia.org/wiki/Memoire_vive</a>
      </div>
    </div>
    
  </footer>
</body>
</html>
