<!doctype html>
<html lang="fr">
  <head>
    <title>Fonctionnement d'un ordinateur</title>
    <link rel="stylesheet" href="CSS/CSS.css">
    <meta charset="utf-8">
    <meta name="description" content="fonctionnement d'un ordinateur">
    <meta name="keyworks" content="carte graphique, carte mere, ordinateur, Processeur, fonctionnement, informatique">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
    <meta name="author" content="Marchand Valentin">
    <meta name="geo.placement" content="Mons, Hainaut">
    <meta name="geo.region" content="BE-WHT">
  </head>
  <body>
      <header id="navtop">
        <nav>
          <a href="../index.html" >Accueil</a>
          <a href="ROM.html">Disque dur</a>
          <a href="Processeur.html">Processeur</a>
          <a href="Carte_graphique.html">Carte graphique</a>
          <a href="RAM.html">RAM</a>
          <a href="../index.html#carte">Carte mère</a>
        </nav>
          
      </header>

      <section id=tete>
        <div>
          <h1>Le fonctionnement d'un ordinateur</h1>
          <p>Processeur</p>
        </div>
      </section>
      <section id=corp>
        <h3>Explication</h3>
        <figure>
          <img src="../image/processeur.png" alt="Processeur">
        </figure>
        <p>
          C’est lui qui effectue les calculs et exécute les instructions.
        </p>
        <p>
          Un processeur est composé de millier de transistor, des petits puces électroniques qui fonctionnent un peu comme des interrupteurs et qui ont donc 2 états, allumer ou éteint, 1 ou 0, ce qui va permettre celons les opérations demander de laisser passer le courant ou pas.
        </p>
        <p>
          Les processeurs ont un certain rythme et sont cadencer par une horloge, plus elle tourne vite et plus le CPU pourra traiter des informations, à chaque impulsion les transistors vont prendre un 1 ou un 0, ce qui va permettre de faire des calculs.
          On exprime ce cadencement en GHz.
        </p>
        <p>
          (Giga Hertz, Hertz étant une unité de fréquence). On peut parler d’un processeur à 4GHz. Soit 4.000.000.000 cycles d’opérations à la seconde !!
          Les processeurs on différente caractéristique les uns avec les autres donc 2 processeurs cadencés à 4GHz n’auront pas forcément la même puissance, car la vitesse ne suffit pas et pour aller plus vite certain CPU on plusieurs cœur et de la mémoire cache intégrer.
        </p>
      </section>  
      <footer id="pied">
        <div>
          <h4>Me contacter :</h4>
          <p>Nom : Marchand Valentin</p>
          <p>telephone : 0495 92 46 20</p>
          <a href="mailto:marchandvalentin.7@outlook.fr">marchandvalentin.7@outlook.fr</a>
          <a href="Contact.html">Information</a>
        </div>
        <div>
          <h4>Liens utile :</h4>
          <div class="ligne">
            <a href="https://www.facebook.com/valentin.marchand.12327"><img src="../icone/facebook.png" alt="">Facebook</a>
          </div>
          <div class="ligne">
              <a href="https://www.Youtube.com"><img src="../icone/youtube1png.png" alt="">Youtube</a>
          </div>
        </div>
        <div>
          <h4>Sources :</h4>
          <div>
            <a href="https://www.culture-informatique.net/comment-ca-marche-un-ordinateur/">https://www.culture-informatique.net</a>
            <a href="https://fr.m.wikipedia.org/wiki/Carte_graphique">https://fr.m.wikipedia.org/carte_graphique</a>
            <a href="https://fr.wikipedia.org/wiki/M%C3%A9moire_vive">https://fr.wikipedia.org/wiki/Memoire_vive</a>
          </div>
        </div>
        
      </footer>
  </body>
</html>