<!doctype html>
<html lang="fr">
  <head>
    <title>Fonctionnement d'un ordinateur</title>
    <link rel="stylesheet" href="CSS/CSS.css">
    <meta charset="utf-8">
    <meta name="description" content="fonctionnement d'un ordinateur">
    <meta name="keyworks" content="carte graphique, carte mere, ordinateur, Processeur, fonctionnement, informatique">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <meta name="author" content="Marchand Valentin">
    <meta name="geo.placement" content="Mons, Hainaut">
    <meta name="geo.region" content="BE-WHT"> 
  </head>
  <body>
      <header id="navtop">
        <nav>
          <a href="../index.html" >Accueil</a>
          <a href="ROM.html">Disque dur</a>
          <a href="Processeur.html">Processeur</a>
          <a href="Carte_graphique.html">Carte graphique</a>
          <a href="RAM.html">RAM</a>
          <a href="../index.html#carte">Carte mère</a>
        </nav>
          
      </header>

      <section id=tete>
        <div>
          <h1>Le fonctionnement d'un ordinateur</h1>
          <p>RAM</p>
        </div>
      </section>
      <section id=corp>
        <h3>Explication</h3>
        <figure>
          <img src="../image/RAM.png" alt="RAM">
        </figure>
        <p>
          La RAM est une mémoire volatile servant de stockage temporaire pour le traitement de données, l’avantage de cette mémoire est que le traitement d’information très rapide autant en lecture qu’en écriture. 
          L’inconvénient est que cette mémoire s’efface dès que l’ordinateur est éteint. De plus, cette RAM ayant un certain coût, si l’on voulait y stocker l’ensemble des informations, cela coûterait très cher. 
          Etant donné que l’on ne peut pas tout stocker dans la RAM (cout et perte de données) il a fallu mettre en parallèle un autre système de stockage en masse et permanent, ce qui se faisait au début de l’informatique avec des carte perforé et maintenant avec les disques durs.

        </p>
      </section>  
      <footer id="pied">
        <div>
          <h4>Me contacter :</h4>
          <p>Nom : Marchand Valentin</p>
          <p>telephone : 0495 92 46 20</p>
          <a href="mailto:marchandvalentin.7@outlook.fr">marchandvalentin.7@outlook.fr</a>
          <a href="Contact.html">Information</a>
        </div>
        <div>
          <h4>Liens utile :</h4>
          <div class="ligne">
            <a href="https://www.facebook.com/valentin.marchand.12327"><img src="../icone/facebook.png" alt="">Facebook</a>
          </div>
          <div class="ligne">
              <a href="https://www.Youtube.com"><img src="../icone/youtube1png.png" alt="">Youtube</a>
          </div>
        </div>
        <div>
          <h4>Sources :</h4>
          <div>
            <a href="https://www.culture-informatique.net/comment-ca-marche-un-ordinateur/">https://www.culture-informatique.net</a>
            <a href="https://fr.m.wikipedia.org/wiki/Carte_graphique">https://fr.m.wikipedia.org/carte_graphique</a>
            <a href="https://fr.wikipedia.org/wiki/M%C3%A9moire_vive">https://fr.wikipedia.org/wiki/Memoire_vive</a>
          </div>
        </div>
        
      </footer>
  </body>
</html>