<!doctype html>
<html lang="fr">
  <head>
    <title>Fonctionnement d'un ordinateur</title>
    <link rel="stylesheet" href="CSS/CSS.css">
    <meta charset="utf-8">
    <meta name="description" content="fonctionnement d'un ordinateur">
    <meta name="keyworks" content="carte graphique, carte mere, ordinateur, Processeur, fonctionnement, informatique">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
    <meta name="author" content="Marchand Valentin">
    <meta name="geo.placement" content="Mons, Hainaut">
    <meta name="geo.region" content="BE-WHT"> 
  </head>
  <body>
      <header id="navtop">
        <nav>
          <a href="../index.html" >Accueil</a>
          <a href="ROM.html">Disque dur</a>
          <a href="Processeur.html">Processeur</a>
          <a href="Carte_graphique.html">Carte graphique</a>
          <a href="RAM.html">RAM</a>
          <a href="../index.html#carte">Carte mère</a>
        </nav>
          
      </header>

      <section id=tete>
        <div>
          <h1>Le fonctionnement d'un ordinateur</h1>
          <p>Disque dur</p>
        </div>
      </section>
      <section id=corp>
        <h3>Explication</h3>
        <figure>
          <img src="../image/kisspng-hard-drives-data-storage-disk-storage-serial-ata-d-hard-drive-5ae1f180b3bee4.2340839115247568647363.png" alt="Disque dur">
        </figure>
        <p>
          Le disque dur stocke les informations. L’avantage du disque dur c’est que l’on peut stocker une grande quantité d’informations et que ces informations perdurent même si l’on éteint l’ordinateur. Vous pouvez y enregistrer vos logiciels, vos jeux, vos musiques, …
          Le coût du stockage est beaucoup moins cher qu’avec de la mémoire vive. Cependant, la lecture et l’écriture sont beaucoup plus lents qu’avec cette mémoire.
          Il faut néanmoins faire attention car le disque dur est composé d’une partie électronique et une autre mécanique et donc tout ceci peut tomber en panne et par conséquent effacer une partie ou tout ce qui était enregistré, il est donc important de conserver les donné importante sur un autre support.
          Maintenant il y a aussi les nouveaux disque dur SSD qui sont composé exclusivement de pièce électronique, un peu comme la RAM et qui sont également plus rapide. 
        </p>
      </section>   
        
      <footer id="pied">
        <div>
          <h4>Me contacter :</h4>
          <p>Nom : Marchand Valentin</p>
          <p>telephone : 0495 92 46 20</p>
          <a href="mailto:marchandvalentin.7@outlook.fr">marchandvalentin.7@outlook.fr</a>
          <a href="Contact.html">Information</a>
        </div>
        <div>
          <h4>Liens utile :</h4>
          <div class="ligne">
            <a href="https://www.facebook.com/valentin.marchand.12327"><img src="../icone/facebook.png" alt="">Facebook</a>
          </div>
          <div class="ligne">
              <a href="https://www.Youtube.com"><img src="../icone/youtube1png.png" alt="">Youtube</a>
          </div>
        </div>
        <div>
          <h4>Sources :</h4>
          <div>
            <a href="https://www.culture-informatique.net/comment-ca-marche-un-ordinateur/">https://www.culture-informatique.net</a>
            <a href="https://fr.m.wikipedia.org/wiki/Carte_graphique">https://fr.m.wikipedia.org/carte_graphique</a>
            <a href="https://fr.wikipedia.org/wiki/M%C3%A9moire_vive">https://fr.wikipedia.org/wiki/Memoire_vive</a>
          </div>
        </div>
        
      </footer>
  </body>
</html>